<ion-header>
  <ion-toolbar>
    <ion-title>
      Picture Land !
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/upload" color="primary">
        <ion-icon color="primary" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pic of list">

    <ion-img [src]="env.API_URL+'/'+pic.filename"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{pic.author}}</ion-card-subtitle>
      <ion-card-title>{{pic.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{pic.description}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goTo('/upload')">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>